@{
  ViewData["Title"] = "Create Travel";
}

@model TravelAgent.Models.Travel

<h4>Add a new travel destination from worldwide</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Destination)
  @Html.TextBoxFor(model => model.Destination)
  <br>
  @Html.LabelFor(model => model.City)
  @Html.TextBoxFor(model => model.City)
  <br>
  @Html.LabelFor(model => model.Country)
  @Html.TextBoxFor(model => model.Country)
  <br>
  @Html.LabelFor(model => model.Review)
  @Html.TextBoxFor(model => model.Review)
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating)
  <br>
  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date, new { type = "date"})

  <br>
  <br>

  <input type="submit" value="Add new destination" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to all destinations", "Index")</p>