@{
  ViewData["Title"] = $"Edit {Model.Destination}";
}

@model TravelAgent.Models.Travel

<h4>Edit @Model.Destination</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TravelId)
  
  @Html.LabelFor(model => model.Destination)
  @Html.TextBoxFor(model => model.Destination, new { @Value = Model.Destination})
  <br>
  
  @Html.LabelFor(model => model.City)
  @Html.TextBoxFor(model => model.City, new { @Value = Model.City})
  <br>
  @Html.LabelFor(model => model.Country)
  @Html.TextBoxFor(model => model.Country, new { @Value = Model.Country})
  <br>
  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date, new { @Value = Model.Date})
  <br>
  
  @Html.LabelFor(model => model.Review)
  @Html.TextBoxFor(model => model.Review, new { @Value = Model.Review})
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating, new { @Value = Model.Rating})
  <br>
  <br>
  <input type="submit" value="Edit travel" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.TravelId})</p>